<!DOCTYPE html>
<html>
<body>
	{% if create_new %}
	<form method="post" action="{{ path('posts_create_cgi') }}">
	{% else %}
	<form method="post" action="{{ path('posts_edit_cgi', {'id': post.id}) }}">
	{% endif %}
		<dt>Title<dl><input type="text" name="title" size="40" value="{{ post.title }}"></dl></dt>
		<dt>Body<dl><textarea rows="15" cols="50" name="body">{{ post.body }}</textarea></dl></dt>
		{% if create_new %}
		<input type="submit" name="submit" value="Add Post">		
		{% else %}
		<input type="submit" name="submit" value="Save Post">
		{% endif %}
	</form>
</body>	
</html>
