<!DOCTYPE html>
<html>
<body>
	<form method="post" action="create_cgi">
		<dt>Title<dl><input type="text" name="title" size="40"></dl></dt>
		<dt>Body<dl><textarea rows="15" cols="50" name="body"></textarea></dl></dt>
		<input type="submit" name="submit" value="Add Post">		
	</form>
</body>	
</html>
