<!DOCTYPE html>
<html>
<body>
	{% for message in app.session.getFlashBag.get('msg') %}
		{{ message }}
	{% endfor %}
	<form method="post">
		<dt>Username<dl><input type="text" name="username" value=""></dl></dt>
		<dt>Password<dl><input type="password" name="password" value=""></dl></dt>
		<input type="submit" name="submit" value="Login">
	</form>
</body>
</html>
